<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="MediktapAdmin.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <applicationSettings>
        <MediktapAdmin.Properties.Settings>
            <setting name="ConnectionString" serializeAs="String">
                <value>Data Source=DESKTOP-N1RG1OM\SQLEXPRESS;Initial Catalog=NewDB;Integrated Security=True</value>
            </setting>
            <setting name="SampleData" serializeAs="String">
                <value>Juan Dela Cruz:Urinalysis:2022-06-28 08:00:00|Maria Clara:Blood Chem:2022-06-28 13:30:00</value>
            </setting>
        </MediktapAdmin.Properties.Settings>
    </applicationSettings>
</configuration>